@{
    ViewData["Title"] = "Kontakt";
}

<script src="https://kit.fontawesome.com/d36ccadf8a.js" crossorigin="anonymous"></script>

<div class="text-center">
    <h4>Ukoliko želite da nas kontaktirate to možete uraditi na sledeće načine:</h4>
    <span class="fa-stack fa-lg">
        <a href="https://www.facebook.com/nikolapecamitrovic.mitrovic" target="_blank"><i class="fab fa-facebook-square fa-5x"></i></a>
        <a href="https://www.instagram.com/nikolaa_888/" target="_blank"><i class="fab fa-instagram fa-5x"></i></a>
    </span>
</div>