@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Pristup odbijen";
}

<header class="text-center justify-content-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nemate ovlašćenja da pristupite ovom sadržaju</p>
</header>