@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Resetovanje šifre";
}

<div class="row text-center justify-content-center">
    <h4>Molimo proverite vašu email adresu kako biste završili proces resetovanja šifre.</h4>
</div>