@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resetovanje šifre";
}

<div class="text-center justify-content-center">
    <h4>Vaša šifra je resetovana. Kliknite <a asp-page="./Login">ovde</a> da biste se prijavili</h4>
</div>